$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.content-area {
  padding-top: 115px;
  text-align: center;
}

.cartoon {
  display: block;
  width: 420px;
  // padding-top: 6px;
  font-style: italic;
  float: right;
}

.searchButton {
  margin-left: 3px;
}

.cover {
  height: 220px;
}

.jumbotron {
  padding-top: 170px;
  margin-bottom: 0;
}

.message-bar{
  text-align: center;
  font-size: 20px;
  color: white;
  text-shadow: 0.5px 0.5px 2px Gray;
  margin-top: 4px;
  padding-top: 3.3px;
  padding-bottom: 3.3px;
  background: #9cd9eb; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #9cd9eb, #1b96d2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #9cd9eb, #1b96d2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #9cd9eb, #1b96d2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #9cd9eb, #1b96d2); /* Standard syntax (must be last) */
}

li {
  font-size: 17px;
}

h4 {
  text-align: center;
  font-weight: bold;
}

.gradientTitle {
  background: -webkit-linear-gradient(#9cd9eb, #1499da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1 {
  font-weight: 600;
}

h6 {
  font-size: 15px;
}

.caption {
  font-weight: 500;
  font-size: 19px;
}

.manage {
  margin-top: -1px;
}

h3 {
  // overflow: hidden;
  white-space: nowrap;
  font-size: 1.3vw;
}

.panel {
  text-align: center;
}

.panel-default > .panel-heading {
  background: #eff8fb; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #f5f5f5, #eff8fb); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #f5f5f5, #eff8fb); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #f5f5f5, #eff8fb); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #f5f5f5, #eff8fb);
}

.navbar-form {
  margin: 0;
}

.question {
  font-weight: 500;
}

.navbar {
  padding-bottom: 3px;
  padding-top: 11px;
  color: black;
}

.navbar-brand {
  font-size: 43px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 300;
}

.brand {
  color: #107cb2;
}

.jumbotron {
  background: #edf7fa; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(right, white, #edf7fa); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, white, #edf7fa); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, white, #edf7fa); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to left, white, #edf7fa);
  // min-height: 690px;
  // height: 900px;
}

.panel-manage {
  height: 39px;
}

.splash-form {
  width: 49%;
  margin: 0, 40%, 0, 60%;
}

.login-message {
  color: red;
}


// #username {
//   font-weight: bold;
// }

.search {
  display: none;
}

.showForUser {
  display: none;
}

.modal-header {
  text-align: center;
}

.modal-title {
  font-weight: bold;
}

.form-control {
  width: 78%;
  margin: 8px auto;
}

@media (max-width: 1090px) {
  h3 {
    font-size: 17px;
    }
}

@media (max-width: 766px) {
  h3 {
    font-size: 21px;
    }
}
