$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.content-area {
  padding-top: 88px;
}

.message-bar{
  // padding-top: 1px;
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: #428bca;
}

h4 {
  text-align: center;
  margin-top: -0px;
}

.panel {
  text-align: center;
}

.searchButton {
  margin-top: 8px;
}

.panel-manage {
  height: 32px;
}

#username {
  font-weight: bold;
}

.search {
  display: none;
}

.showForUser {
  display: none;
}

.modal-header {
  text-align: center;
}

.modal-title {
  font-weight: bold;
}

.form-control {
  width: 78%;
  margin: 8px auto;
}
