$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.content-area {
  padding-top: 115px;
  text-align: center;
}

.cartoon {
  display: block;
  width: 420px;
  // padding-top: 6px;
  font-style: italic;
  float: right;
}

.cover {
  height: 220px;
}

.jumbotron {
  padding-top: 170px;
  margin-bottom: 0;
}

.message-bar{
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: white;
  background-color: #428bca;
  padding-top: 6px;
  padding-bottom: 6px;
}

h4 {
  text-align: center;
  margin-top: -0px;
}

.panel {
  text-align: center;
}

// .searchButton {
//   margin-top: 10px;
//   margin-left: -13px;
// }

.navbar-form {
  margin: 0;
}

.navbar {
  padding-bottom: 3px;
  padding-top: 11px;
}

.navbar-brand {
  font-size: 33px;
}

.panel-manage {
  height: 32px;
}


#username {
  font-weight: bold;
}

.search {
  display: none;
}

.showForUser {
  display: none;
}

.modal-header {
  text-align: center;
}

.modal-title {
  font-weight: bold;
}

.form-control {
  width: 78%;
  margin: 8px auto;
}
